<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="container">
<div class="jumbotron">
<nav class="navbar-collapse collapse navbar-responsive-collapse">

       <ul class="nav-tabs">
         <li class="">
           <a class="navbar-brand" routerLink ="/about-us">About Us </a>
         </li>
         <li class="nav-tabs">
           <a class="navbar-brand" routerLink ="/contact-us">Contact Us</a>
         </li>
         <li class="nav-item">
           <a class="navbar-brand" routerLink ="/product">Product List</a>
         </li>
       </ul>
</nav>
</div>
</div>
     <router-outlet></router-outlet> 